$border: 1px solid #D2D8DA;
$cell-padding: 0.5em 1em;
$header-text: #101010;
$cell-text: #222;
$bg-light: transparent;
$bg-dark: #cfc8bf;

.table {
  background-color: $bg-light;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: $border;
  width: 100%;
}

.table td,
.table th {
  border-left: $border;
  padding: $cell-padding;
}

.table thead {
  background-color: darken($bg-dark, 10);
  color: $header-text;
  text-align: left;
  vertical-align: bottom;
}

.table td {
  background-color: transparent;
}

.table-striped tr:nth-child(even) td {
  background-color: $bg-dark;
}

.table-bordered td {
  border-bottom: $border;
}
